<div class="container">
    <h2>Iniciar sesion</h2>
    <div class="row">
        <form action="/login/create" method="post">
        <input class="form-control" type="text" name="username" placeholder="username">
        <input class="form-control" type="password" name="password" placeholder="password">
        <button class="btn btn-primary"type="submit">enviar</button>
        
        </form>
        <p>{{message}}</p>
    </div>
        <a href="/sing-up">no tenes cuenta? Registrate</a>

</div>