<h2 style="position: center;">perfil</h2>
{{#each usuario}}
<h3>username: {{username}}</h3>
<h3>password: {{password}}</h3>

{{/each}}

<div class="container">
    <div class="row">
        <a href="/files"> postear</a>
    </div>
</div>