<div class="container">
    <h2>postear</h2>
    <div class="row">
        <form action="/files" method="post" enctype="multipart/form-data">
   

        <label for="imagen">
            <input class="form-control" type="file" name="imagen" placeholder="imagen">
        </label>
       
     

        <button  class="btn btn-primary" type="submit">post</button>
        </form>
    </div>
</div>