<div class="container">
    <h2>Registrate</h2>
    <div class="row">
        <form action="/sing-up/create" method="post">
        <input class="form-control" type="text" name="username" placeholder="username">
        <input class="form-control" type="password" name="password" placeholder="password">
        <button class="btn btn-primary"type="submit">enviar</button>
        
        </form>
        <p>{{message}}</p>
    </div>
    <a href="/login">ya tenes cuenta? Inicia sesion</a>
</div>